:root {
  ---green: #02030282;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.title {
  font-weight: bold;
  margin: 10px;
}
.map {
  width: 1720px;
  height: 600px;
  max-width: 75%;
  max-height: 50%;
  background-color: var(---green);
  margin: 10px;
}
.result
{
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.btn
{
  width: 130px;
  height: 25px;
}
.costo
{
  font-weight: bold;
  display: flex;
  flex-direction: row;
}


@media only screen and (max-width: 600px) {
  .map {
    max-width: 50%;
    max-height: 50%;
    background-image: url(assets/img/download.jpg);
  }
}
